.DS_Store

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
*.run.xml
*.toc
*.synctex.gz

# Common QGIS temporary files
*.qgz~
*.gpkg-shm
*.gpkg-wal
*.aux.xml
*.qgs~
qgis/large_data/
exports/~$vsfb.docx
exports/~$nder_vsfb.docx
